# Web server a API
fastapi
uvicorn
python-multipart

# Odosielanie mailov
resend

# Premenné prostredia
python-dotenv

# Databáza a Utility
pymongo
motor
pydantic
pydantic-settings

# Deployment (Povinné pre Render)
gunicorn

# Základné knižnice (bez verzií, aby sa predišlo konfliktom)
requests
python-jose
bcrypt
passlib