# Web server a API framework
fastapi
uvicorn
python-multipart

# Odosielanie mailov
resend

# Správa premenných prostredia
python-dotenv

# Databáza (MongoDB)
pymongo
motor

# Validácia dát a nastavenia
pydantic
pydantic-settings

# Deployment (Server pre Render)
gunicorn

# Bezpečnosť, Hashing a Tokeny (JWT)
bcrypt
passlib
PyJWT
python-jose[cryptography]
cryptography

# Ostatné utility
requests
python-dateutil