# Web server a API
fastapi
uvicorn
python-multipart

# Odosielanie mailov
resend

# Premenné prostredia
python-dotenv

# Databáza a Validácia
pymongo
motor
pydantic
pydantic-settings
email-validator

# Deployment (Povinné pre Render)
gunicorn

# Bezpečnosť a Tokeny
bcrypt
passlib
PyJWT
python-jose[cryptography]
cryptography

# Utility
requests
python-dateutil